<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<%= simple_form_for(@new_list) do |list| %>
  <%= list.input :name, :label => 'Name your new list', :placeholder => 'Imaginaries' %>
  <%= list.input :photo, as: :file %>
  <%= list.button :submit %>
<% end %>
<p><%= link_to 'Return to all lists', root_path %></p>
