<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
  rgba(0,0,0,0.3)), url('<%= @list.photo.url %>')" >
  <%= @list.name %>
</div>
<%else %>
  <%= image_tag("https://res.cloudinary.com/dw9vzaips/image/upload/fl_preserve_transparency/v1723201445/eim7guzq5mx558k2nrfm.jpg?_s=public-apps", width: 400, height: 300, crop: :fill) %>
<% end %>

<p><%= @list.name %></p>
<p><%= link_to 'Add a movie', new_list_bookmark_path(@list) %></p>
<p><%= button_to "Delete list", @list, method: :delete %></p>

<% @movies.each do |movie| %>
<div class="card-product">
  <%= image_tag(movie.poster_url, size: "140x180") %>
  <div class="card-product-infos">
    <h2><%= movie.title %></h2>
    <p><%= movie.overview %></p>
  </div>
</div>
<% end %>


<p><% @bookmark.each do |bookmark_single| %></p>
<p><%= bookmark_single.comment %> - <%= Movie.find(bookmark_single.movie_id).title %></p>
<p><%= link_to "Delete comment", bookmark_path(bookmark_single), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
<% end %>
<p><%= link_to 'Return to all lists', root_path %></p>
